<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="awconnstr" connectionString="Server=10.11.33.118;Database=AdventureWorks2014;User Id=yms8416;Password=sifre" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>